doctype html
html(lang="en")

  head

    //- Meta tag for making mobile devices
    meta(name="viewport" content="width=device-width, initial-scale=1.0, \
      maximum-scale=1.0, user-scalable=no, minimal-ui")

    //- CSS
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet")

    link(href="main.css" rel="stylesheet")

    //-
    //- Javascript
    //-

    //- Scream and Brim. For iOS 8 Safari.
    script(src="bower_components/scream/dist/scream.js")
    script(src="bower_components/brim/dist/brim.js")

    //- Angular... Here for now...
    //- script(src="bower_components/angular/angular.js")
    //- script(src="bower_components/angular-scroll/angular-scroll.js")
    //- script(src="bower_components/matchmedia-ng/matchmedia-ng.js")
    //- script(src="app.js")

  body!= yield
