//- Main Container
.megatron.megatron--desktop.video--small

  //- Optional
  .megatron__head

  //- Body
  .megatron__body

    //- First arm - Title, Video, Actions
    .megatron__arm.arm--one

      //- Title bar
      .megatron__bar
        h3.megatron__title Megatron (Final Battle)
        .megatron__close: i.fa.fa-times

      //- Video Container
      .megatron__video
        video(poster="megatron.jpg")

      //- Any Video Actions
      .megatron__actions
        nav.megatron__menu
        nav.megatron__features
        button.megatron__button
          .text
            h3 Click Here
            h4 push this giant button

    //- Second arm - Info Chat
    .megatron__arm.arm--two

      //- Title bar
      .megatron__bar
        .megatron__ranks

        .megatron__favorite

      .megatron__info
      .megatron__chat

    //- Third arm - ads.
    .megatron__arm.arm--three
      .megatron__panel

  //- Footer
  .megatron__foot
