//- Main Container
.megatron.megatron--desktop(ng-init="videoSize = 'hd'")

  //- Optional
  .megatron__head

  //- Body
  .megatron__body(ng-class="{ \
    'video--small': videoSize == 'small', \
    'video--hd': videoSize == 'hd' \
  }" )

    //- First arm - Title, Video, Actions
    .megatron__arm.arm--one

      //- Title bar
      .megatron__bar
        h3.megatron__title Megatron (Final Battle)
        .megatron__close: i.fa.fa-times

      //- Video Container
      .megatron__video
        video(poster="megatron.jpg")

      //- Any Video Actions
      .megatron__actions
        nav.megatron__menu
          ul.megatron__options
            li: a.disabled: i.fa.fa-lg.fa-repeat
            li: a.disabled: i.fa.fa-lg.fa-volume-up
            li: a(ng-click="videoSize = 'small'" ng-class="{active: videoSize == 'small'}"): i.fa.fa-lg.fa-compress
            li: a(ng-click="videoSize = 'hd'" ng-class="{active: videoSize == 'hd'}"): i.fa.fa-lg.fa-expand
            li: a.disabled: i.fa.fa-lg.fa-arrows-alt

          .megatron__gold: button Gold

        nav.megatron__features
        button.megatron__button
          .text
            h3 Click Here
            h4 push this giant button

    //- Second arm - Info Chat
    .megatron__arm.arm--two

      .megatron__hand.hand--one

        //- Title bar
        .megatron__bar
          .megatron__ranks

          .megatron__favorite

        .megatron__info
          blockquote
            p Sentient robotic lifeform from the planet Cybertron and the leader of the villainous Decepticons.

        .megatron__note
          h6 What's going on over here?
          p.
            I have the ability to transform between his robot shape and
            various weapons or vehicles, but these "alternate-modes", my
            origins and even personality, can vary depending on which
            "universe" I'm seen in.

        .megatron__chat


      //- Third arm - ads.
      .megatron__hand.hand--two
        .megatron__panel

  //- Footer
  .megatron__foot
