#brim-main
  include _megatron.jade

#brim-mask
  .center-container
    .center-box
      h1 slide up to play

script.
  window.addEventListener("DOMContentLoaded", function () {
    var scream,
        brim,
        agent = window.navigator.userAgent.toLowerCase();

    // Test for iOS8, and test for the iOS Simulator.
    if (/(iphone|ipod|ipad) os 8_/.test(agent) ||
        /version\/8/.test(agent)) {

      console.info("iOS8 detected");

      // `window.chrome` should only exist in chrome.  If we got through the
      // iOS 8 test, and `window.chrome` exists, then we're in the device
      // simulator in chrome.
      if (!!window.chrome) {

        console.info("Chrome detected too, must be in the simulator");

        var el = document.getElementById("brim-mask");
        el.className += !!el.className ? " chrome" : "chrome";

      // down here is iOS8 for real! Lets get this party started!
      } else {

        console.info("Starting Brim and Scream");

        scream = gajus.Scream({
          width: {
            portrait: 320,
            landscape: 640
          }
        });

        brim = gajus.Brim({
          viewport: scream
        });
      }
    }
  });

