//- Main Container
.megatron.megatron--desktop.video--small

  //- Optional
  .megatron__head

  //- Body
  .megatron__body

    //- First arm - Title, Video, Actions
    .megatron__arm.arm--one

      //- Title bar
      .megatron__bar
        h3.megatron__title Megatron Title
        .close: i.fa.fa-times

      .megatron__video
      .megatron__actions

    //- Second arm - Info Chat
    .megatron__arm.arm--two

      //- Title bar
      .megatron__bar
        .ranks

        .favorite


      .megatron__info
      .megatron__chat

    //- Third arm - ads.
    .megatron__arm.arm--three
      .megatron__panel

  //- Footer
  .megatron__foot
