@import "bower_components/normalize.scss/normalize";
@import "bower_components/bourbon/dist/bourbon";

@import "bower_components/font-awesome/scss/variables";
@import "bower_components/flynns/src/ranks";

@import "src/variables";
@import "src/megatron";

#brim-mask {
  background: black;
  color: white;

  // Hide the brim mask for the chrome device simulator
  &.chrome {
    display: none !important;
    pointer-events: none;
  }
}

.center-container {
  @include box-sizing(border-box);
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  padding: 50px 50px;

  text-align: center;

  h1 {
    margin: 0;
  }
}
