// Variables
$megatron-min-width: 940px;

$megatron-bar-height: 24px !default;
$megatron-bar-font-size: 14px !default;
$megatron-bar-background: gray !default;
$megatron-bar-color: white !default;

$megatron-menu-height: 44px !default;
$megatron-menu-background: #444 !default;
$megatron-menu-color: darkgray !default;
$megatron-menu-color-hover: silver !default;
$megatron-menu-color-active: white !default;

$megatron-small-video-width: 45% !default;
$megatron-hd-video-width: 75% !default;

$megatron-button-height: 80px !default;

$megatron-gold-width: 200px !default;

.megatron {
  margin: 0 auto;
  min-width: $megatron-min-width;

  // .megatron__body
  &__body {
    @include display(flex);
    width: 100%;
    min-height: 400px;

    .megatron--desktop & {
      @include flex-direction(row);
      @include align-items(stretch);
    }

    .video--hd & {
      @include flex-wrap(wrap);
    }
  }


  // .megatron__arm
  &__arm {
    @include display(flex);

    &.arm--one {
      .megatron--desktop & {
        @include flex(none);
        @include flex-direction(column);
        border-right: 2px solid white;
      }

      .video--small & {
        width: $megatron-small-video-width;
      }

      .video--hd & {
        width: $megatron-hd-video-width;
        height: 100%;
      }
    }

    &.arm--two {
      @include flex(auto);
      @include display(flex);

      .video--hd & {
        @include flex-direction(column);
      }
    }
  }

  &__hand {
    @include flex(auto);

    &.hand--one {
      background: desaturate(orange, 15%);

      .video--small & {
        @include flex(auto);
        min-width: 25%;

        .megatron--desktop & {
          border-right: 2px solid white;
        }
      }

      .video--hd & {
        @include flex(2 1 auto);
        .megatron--desktop & {
          border-bottom: 2px solid white;
        }
      }
    }

    &.hand--two {
      background: lightgreen;

      .megatron--desktop & {
        @include flex(0 1 270px);
        @include flex-direction(column);
      }

      .video--hd & {
        @include flex(1 1 auto);
      }
    }
  }

  // .megatron__bar
  &__bar {
    @include display(flex);
    height: $megatron-bar-height;
    background: $megatron-bar-background;

    .arm--two & {
      @include justify-content(space-between);
    }

    h3 {
      @include flex(auto);
      color: $megatron-bar-color;
      margin: 0;
      line-height: $megatron-bar-height;
      font-size: $megatron-bar-font-size;
      padding: 0 .5em;
    }
  }

  &__close {
    @include flex(none);
    height: $megatron-bar-height;
    line-height: $megatron-bar-height - 2;
    font-size: $megatron-bar-font-size;
    padding: 0 .5em;

    i {
      color: $megatron-bar-color;
    }
  }

  &__ranks {
    @include flex(none);
    padding: 0 .5em;
  }

  &__favorite {
    @include flex(none);
    padding: 0 .5em;
  }


  &__video {
    @include flex(none);
    position: relative;
    width: 100%;
    background: black;
    padding-top: (236 / 424) * 100%;

    video {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      &.inactive {
        opacity: 0.4;
      }
    }
  }

  &__actions {
    @include flex(auto);
    @include display(flex);
    @include user-select(none);
    width: 100%;

    .video--small & {
      @include flex-direction(column);
    }

    .video--hd & {
      @include flex-direction(row);
    }
  }

  &__menu {
    @include display(flex);
    @include justify-content(space-between);
    height: $megatron-menu-height;
    background: $megatron-menu-background;

    .video--hd & {
      @include flex(none);
      @include align-content(stretch);
    }
  }

  &__options {
    @include flex(0 1 auto);
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      float: left;
    }

    a {
      display: block;
      text-align: center;
      width: $megatron-menu-height;
      line-height: $megatron-menu-height;
      color: $megatron-menu-color;

      &:hover {
        color: $megatron-menu-color-hover;
      }

      &.active, &:active {
        color: $megatron-menu-color-active;
      }
    }
  }

  &__gold {
    @include flex(auto);
    @include display(flex);
    padding: .25em;
    max-width: $megatron-gold-width;

    button {
      @include flex(auto);
      @include button($base-color: #ffcb00, $padding: 0);
      border-radius: 0;
      text-transform: uppercase;
      padding-top: 2px;
      padding-left: 3em;
      padding-right: 3em;
    }
  }

  &__features {
    display: none;
  }

  &__button {
    @include flex(auto);
    @include display(flex);
    @include justify-content(center);
    @include align-content(stretch);
    @include align-items(center);

    // $style: simple, $base-color: #4294f0, $text-size: inherit, $padding: 7px 18px
    @include button($base-color: #3399cc);
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;

    .video--small & {
      min-height: $megatron-button-height;
    }

    h3 {
      margin: 0 0 .25em;

      .video--hd & {
        display: none;
      }
    }

    h4 {
      margin: 0;
    }
  }
}
