// Variables
$megatron-min-width: 940px;
$megatron-min-height: 400px;
$megatron-max-height: 100vh;

// Megatron Bar
$megatron-bar-height: 24px !default;
$megatron-bar-font-size: 14px !default;
$megatron-bar-background: gray !default;
$megatron-bar-color: white !default;

// Megatron Menu
$megatron-menu-height: 44px !default;
$megatron-menu-background: #444 !default;
$megatron-menu-color: #999 !default;
$megatron-menu-color-hover: lightgray !default;
$megatron-menu-color-active: lightgray !default;
$megatron-menu-color-disabled: #555 !default;

// Megatron Buttons
$megatron-button-height: 80px !default;
$megatron-button-background: #3399cc !default;
$megatron-gold-width: 200px !default;
$megatron-gold-background: #ffcb00 !default;

// Megatron Video Variables
// $megatron-aspect-ratio: 9 / 16;
$megatron-aspect-ratio: 3 / 4 !default;
$megatron-small-video-width: 45% !default;
$megatron-hd-video-width: 75% !default;
$megatron-fs-video-width: 85% !default;

$megatron-small-video-offset: $megatron-bar-height + $megatron-menu-height + $megatron-button-height;
$megatron-small-video-max-width: unquote("calc((#{$megatron-max-height} - #{$megatron-small-video-offset}) / #{$megatron-aspect-ratio})");
$megatron-small-video-max-height: unquote("calc(#{$megatron-max-height} - #{$megatron-small-video-offset})");

$megatron-video-offset: $megatron-bar-height + $megatron-menu-height;
$megatron-video-max-width: unquote("calc((#{$megatron-max-height} - #{$megatron-video-offset}) / #{$megatron-aspect-ratio})");
$megatron-video-max-height: unquote("calc(#{$megatron-max-height} - #{$megatron-video-offset})");

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

.megatron {
  margin: 0 auto;
  min-width: $megatron-min-width;
  max-height: $megatron-max-height;

  // .megatron__body
  &__body {
    @include display(flex);
    width: 100%;
    // min-height: $megatron-min-height;

    .megatron--landscape & {
      @include flex-direction(row);
      @include align-items(stretch);
    }

    &.video--fs {
      height: $megatron-max-height;
    }
  }

  // .megatron__arm
  &__arm {
    @include display(flex);

    &.arm--one {

      .megatron--landscape & {
        @include flex(none);
        @include flex-direction(column);
        border-right: 2px solid white;
      }

      .video--small & {
        width: $megatron-small-video-width;
        max-width: $megatron-small-video-max-width;
      }

      .video--hd & {
        width: $megatron-hd-video-width;
        max-width: $megatron-video-max-width
      }

      .video--fs & {
        @include flex(0 1 auto);
        width: $megatron-fs-video-width;
        max-width: $megatron-video-max-width
      }
    }

    &.arm--two {
      @include flex(auto);
      @include display(flex);

      .video--hd & {
        @include flex-direction(column);
      }

      .video--fs & {
        @include flex-direction(column);
        min-width: 280px;
      }
    }
  }

  // .megatron__hand
  &__hand {
    @include flex(auto);

    &.hand--one {
      background: desaturate(orange, 15%);
      @include display(flex);
      @include flex-direction(column);

      .video--small & {
        @include flex(2 1 auto);
        // min-width: 25%;

        .megatron--landscape & {
          border-right: 2px solid white;
        }
      }

      .video--hd &,
      .video--fs & {
        @include flex(2 1 auto);

        .megatron--landscape & {
          border-bottom: 2px solid white;
        }
      }
    }

    &.hand--two {
      background: lightgreen;

      .megatron--landscape & {
        @include flex-direction(column);
      }

      .video--small & {
        @include flex(1 1 auto);
        min-width: 270px;
      }

      .video--hd &,
      .video--fs & {
        @include flex(auto);
      }
    }
  }

  // .megatron__bar
  &__bar {
    @include display(flex);
    height: $megatron-bar-height;
    background: $megatron-bar-background;

    .arm--two & {
      @include justify-content(space-between);
    }

    h3 {
      @include flex(auto);
      color: $megatron-bar-color;
      margin: 0;
      line-height: $megatron-bar-height;
      font-size: $megatron-bar-font-size;
      padding: 0 .5em;
    }
  }

  // .megatron__close
  &__close {
    @include flex(none);
    height: $megatron-bar-height;
    line-height: $megatron-bar-height - 2;
    font-size: $megatron-bar-font-size;
    padding: 0 .5em;

    i {
      color: $megatron-bar-color;
    }
  }

  // .megatron__ranks
  &__ranks {
    @include flex(none);
    padding: 0 .5em;
  }

  // .megatron__close
  &__favorite {
    @include flex(none);
    padding: 0 .5em;
  }

  // .megatron__video
  &__video {
    @include box-sizing(border-box);
    @include flex(auto);
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    position: relative;
    width: auto;
    max-width: 100%;
    max-height: $megatron-video-max-height;
    background: black;
    overflow: hidden;

    // Force an aspect ratio
    &::after {
      padding-top: $megatron-aspect-ratio * 100%;
      content: '';
      display: block;
      width: 100%;
    }

    .video--small & {
      max-height: $megatron-small-video-max-height;
    }

    .video--fs & {
      @include flex(auto);
    }

    video {
      width: 100%;
      height: 100%;
      position: absolute;

      &.inactive {
        opacity: 0.4;
      }
    }
  }

  // .megatron__actions
  &__actions {
    @include flex(auto);
    @include display(flex);
    @include user-select(none);
    width: 100%;

    .video--small & {
      @include flex-direction(column);
    }

    .video--hd & {
      @include flex-direction(row);
    }

    .video--fs & {
      @include flex(none);
      @include flex-direction(row);
    }
  }

  // .megatron__menu
  &__menu {
    @include display(flex);
    @include justify-content(space-between);
    height: $megatron-menu-height;
    background: $megatron-menu-background;

    .video--hd &,
    .video--fs & {
      @include flex(3);
      @include align-content(stretch);
    }
  }

  // .megatron__options
  &__options {
    @include flex(none);
    @include clearfix;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      float: left;
    }

    a {
      display: block;
      text-align: center;
      width: $megatron-menu-height;
      line-height: $megatron-menu-height;
      color: $megatron-menu-color;

      &:hover {
        color: $megatron-menu-color-hover;
      }

      &.active, &:active {
        color: $megatron-menu-color-active;
      }

      &.disabled {
        color: $megatron-menu-color-disabled;
      }
    }
  }

  // .megatron__gold
  &__gold {
    @include flex(auto);
    @include display(flex);
    padding: .25em;
    max-width: $megatron-gold-width;

    button {
      @include flex(auto);
      @include button($base-color: $megatron-gold-background, $padding: 0);
      border-radius: 0;
      text-transform: uppercase;
      padding-top: 2px;
      padding-left: 1em;
      padding-right: 1em;
    }
  }

  // .megatron__features
  &__features {
    display: none;
  }

  // .megatron__button
  &__button {
    @include flex(auto);
    @include display(flex);
    @include justify-content(center);
    @include align-content(stretch);
    @include align-items(center);

    // $style: simple, $base-color: #4294f0, $text-size: inherit, $padding: 7px 18px
    @include button($base-color: $megatron-button-background);
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;

    .video--small & {
      height: $megatron-button-height;
    }

    .video--hd &,
    .video--fs & {
      @include flex(2);
    }

    h3 {
      margin: 0 0 .25em;

      .video--hd &,
      .video--fs & {
        display: none;
      }
    }

    h4 {
      margin: 0;
    }
  }

  // .megatron__note
  &__note {
    border: 1px solid $megatron-bar-background;

    blockquote {
      position: relative;
      overflow: hidden;
      background: #f9f9f9;
      margin: 0;
      padding: 0.5em 10px;
      padding-left: 32px;
      font-size: 11px;
      min-height: 32px;

      &::before {
        text-align: center;
        position: absolute;
        top: -4px;
        left: 0;
        width: 32px;
        color: #ccc;
        content: open-quote;
        font-size: 64px;
      }
    }

    p {
      margin: 0;
    }
  }

  // .megatron__info
  &__info {
    background: $megatron-gold-background;
    padding: 0.5em;
    border: 1px solid darken($megatron-gold-background, 20%);

    h6 {
      margin: 0;
      font-size: 12px;
    }

    p {
      margin: 0;
      font-size: 11px;
    }
  }

  // .megatron__chat
  &__chat {
    @include flex(1);
    border: 1px solid $megatron-bar-background;
    background: white;
  }
}
